{
  "root": true,
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": ["warn", { "vars": "local" }]
  }
}
